.editorLayout {
  position: relative;
  width: 80%;
  margin: auto;
}

.editorComponentWrapper {
  border-radius: 5px;
  height: 760px;
  overflow: scroll;
  border: 1px solid rgba(3, 117, 121, 0.5);
}

.uploadBar {
  margin-top: 12px;
  border-radius: 5px;
  border: 1px solid rgba(1, 2, 66, 0.178);
  padding: 10px;
}
