.addCategoryBlockWrapper {
  display: flex;
  margin-bottom: 20px;
  line-height: 30px;
}

.addCategoryTitle {
  width: 80px;
  margin-right: 20px;
}

.addCategorySelector {
  min-width: 400px;
  width: 80%;
}

.editorAuthorSelectorWrapper {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.editorAuthorImageWrapper {
  width: 30px;
  height: 30px;
}
