.UserWrapperImageEditorList{
    display: flex;
    /* justify-content: space-between; */
}

.UserWrapperImageEditorList span{
    margin-left: 10px;
}

.spuareUserImageEditorList{
    width: 50px;
    height: 50px;
}